NODE_ENV=dev
NEXTAUTH_URL=http://localhost:port/muitools
NEXT_PUBLIC_BASEPATH=muitools
 # Added by `npx auth`. Read more: https://cli.authjs.dev

NEXTAUTH_SECRET="""
NEXT_PUBLIC_BASE_URL="http://localhost:port"

