* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}